* {
  padding: 0;
  margin: 0;
  font-family: fontPage;
}
html {
  font-size: 100%;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.wrapper:before {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 94px;
  border-color: #ee82ee;
  left: 0;
  top: 0;
  bottom: 500px;
  border-radius: 0 0 200px 0;
}
.wrapper__iphone {
  position: relative;
  margin-top: 4em;
  margin-bottom: 10.5em;
  height: 31.5625em;
  width: 15.4375em;
  background-color: #fff;
  border-radius: 1.5625em;
  box-shadow: 0px 12px 20px 0px rgba(0,0,0,0.2);
}
.wrapper__iphone-header {
  position: relative;
  height: 4.125em;
  margin: 0.6875em 0.6875em 0 0.6875em;
  background: linear-gradient(90deg, #8838ff 0%, #e942ff 100%);
  color: #fff;
  border-radius: 0.9375em 0.9375em 0.375em 0.375em;
}
.wrapper__iphone-header:before {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 0.625em 4.6875em;
  border-color: #fff;
  right: 2.3125em;
  border-radius: 0 0 0.9375em 0.9375em;
}
.wrapper__iphone-user {
  display: flex;
  padding: 1.875em 0.625em 0 0.625em;
}
.wrapper__iphone-user img {
  width: 1.4375em;
  height: 1.4375em;
  border-radius: 50%;
  border: 1px solid #fff;
}
.wrapper__iphone-name {
  margin-left: 0.3125em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.wrapper__iphone-name p:nth-of-type(1) {
  font-size: 0.5625em;
}
.wrapper__iphone-name p:nth-of-type(2) {
  font-size: 0.3125em;
}
.wrapper__text {
  padding: 1em 2.25em;
  text-align: center;
}
.wrapper__text-h1 {
  font-size: 2.375em;
  color: #3e2753;
  letter-spacing: 0.0357em;
  margin-bottom: 0.571em;
  font-weight: 700;
}
.wrapper__text-p {
  font-size: 1em;
  line-height: 1.75em;
  letter-spacing: 0.0125em;
  color: #a39daa;
}
