&-header
  width: 14.25em // 228px
  height: 4.125em // 66px
  background: gradientHeader
  border-radius: 1.25em 1.25em 0.375em 0.375em // 20px 6px 
  box-shadow: 0 0.25em 0.3125em 0 shadow25 // 4px 5px
&-notch
  width: 8.0625em // 129px
  height: 1.8125em // 29px
  background-color: white
  border-radius: 0 0 0.875em 0.875em // 14px
  position: relative
  left: 3.125em // 50px
  top: -0.625em // 10px
&-user
  display: flex
  padding: 0 1.84375em // 29.5px 
&-user img
  width: 1.4375em // 23px
  height: 1.4375em
  border: 1px solid white
  border-radius: 50%
&-name
    margin-left: 0.5em // 8px
    display: flex
    flex-direction: column
    justify-content: space-evenly
  &-name p:nth-of-type(1)
    font-size: 0.6875em // 11px
    font-weight: 500
    color: white
  &-name p:nth-of-type(2)
    font-size: 0.5em // 8px
    font-weight: 400
    color: subHeadingApp 
