&-images
  width: 8.5em // 136px
  margin-right: 0.53125em // 8.5px
  display: flex
  justify-content: space-between
&-images img
  width: 2.5em // 40px
  height: 2.5em 
  border-radius: 0.625em // 10px
  box-shadow: 0px 10px 5px -5px shadow10
