@import '_variables.styl'

.marginBottom16
  margin-top: 0.5em // 8px
  margin-bottom: 1em // 16px
.marginTop11
  margin-top: 0.6875em // 11px
.marginTop8
  margin-top: 0.5em // 8px
.marginRight34
  margin-right: 4.25em // 34px
.marginRight49
  margin-right: 6.125em // 49px
.marginLeft8
  margin-left: 1em //8px
.with80
  width: 5em // 80px
  height: 1.4375em // 23px
.with128
  width: 8em // 128px
  height: 2.125em // 34px
.height45
  width: 8em // 128px
  height: 2.8125em // 45px
.height32
  width: 10em // 160px
  height: 2em // 32px
.padding86
  padding: 0.75em 1.5em 0.75em 1em  // 6px 12px 8px 
.padding812
  padding: 1em 1.5em 1em 1em // 8px 12px
.padding168
  padding: 0.625em 1em 0.625em 0.5em // 10px 16px 8px
  display: flex
  align-items: center
.alingRight
  display: flex
  flex-direction: column
  align-items: flex-end
.alingLeft
  margin-left: 0.53125em // 8.5px
.wrapper__iphone
  // position relative
  margin: 4em 4em 0 4em // 64px
  height: 31.5625em // 505px
  width: 15.4375em // 247px
  border-radius: 1.875em // 30px
  box-shadow: 0px 30px 60px -10px shadow25;
  @import '_body.styl'
  @import '_head.styl'
  @import '_chats.styl'
  @import '_images.styl'