@import '_variables.styl'

.wrapper__iphone
  // position relative
  margin: 4em 4em 0 4em // 64px
  height: 31.5625em // 505px
  width: 15.4375em // 247px
  border-radius: 1.875em // 30px
  box-shadow: 0px 30px 60px -10px shadow25;
  @import '_iphoneBody.styl'
  @import '_iphoneHead.styl'