@import '_variables.styl'

.wrapper__text
  padding: 1em 2.25em
  text-align: center
  &-h1
    font-size: 2.375em
    color: veryDarkViolet
    letter-spacing: 0.0357em
    margin-bottom: 0.571em
    font-weight: 700
  &-p
    font-size: f16
    line-height: 1.75em
    letter-spacing: 0.0125em
    color: darkGrayViolet