// text
veryDarkViolet = hsl(271, 36%, 24%)
darkGrayViolet = hsl(270, 7%, 64%)

// iphone
lightGratyViolet_APPBG = hsl(270, 20%, 96%)

// gradients
lightMagenta = hsl(293, 100%, 63%)
lightViolet = hsl(264, 100%, 61%)
gradient = linear-gradient(180deg, lightMagenta 0%, lightViolet 100%)

fontPage = 'Rubik', sans-serif;
f16 = 1em