// text
subHeadingApp = #D99EFF
heading = #3E2753
paragraph = #A59DAA

// iphone
bgApp = #F5F3F7


// gradients
lightMagenta = hsl(293, 100%, 63%)
lightViolet = hsl(264, 100%, 61%)
gradientHeader = linear-gradient(225deg, lightMagenta 20%, lightViolet 100%)

// shadows
shadow25 = rgba(62,39,83,.25)

f16 = 1em